html, body {
  width: 100%;
  margin: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 10px 0 10px;
  background-color: #A2D3D2;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  margin: 0 20px 0 0 ;
}

.nav-link-text {
  text-decoration: none;
  color: #de7e7e;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Copperplate Gothic Light, sans-serif;;
}

.nav-link-text:hover {
  color: #DD5656;
}

.app-img-container {
  width: 100vw;
  height: 300px;
}

.app-img {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 300px;
  max-height: 300px;
  background: url("http://www.weef-gedc2016.org/_images/m_img_2(1).gif") no-repeat center center;
  background-size: cover;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

/* Register Pages*/

.register-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("http://www.proficientwriters.com/content/images/im/1.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  margin: 0;
  padding: 0;
}

.register-container {
  min-width: 300px;
  max-width: 32vw;
  width: 32vw;
  height: 400px;
  border: 1px solid #C7C9C7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E8EAE8;
  opacity: 0.9;
}

.register-icon-container {
  margin-bottom: 20px;
}
  
.register-icon {
  color: #7aacd2;
  font-size: 7em;
}

.register-form-container {
  min-width: 300px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.register-input-container {
  min-width: 300px;
  text-align: center;
}

.register-input {
  margin-bottom: 15px;
  padding-left: 17px;
  min-width: 180px;
  max-width: 24vw;
  width: 24vw;
  height: 20px;
  font-size: 14px;
}

.register-input-icon {
  position: relative;
  left: 15px;
  color: #7aacd2;
}
  
.register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  width: 24vw;
  height: 30px;
  font-size: 16px;
  font-family: 'Copperplate Gothic Light, sans-serif';
  background-color: #7aacd2;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #1B82D1;
}

.register-footer-text {
  font-family: ‘Arial Narrow’, sans-serif;
}

.register-footer.signup {
  margin-top: 20px;
}

.footer-link {
  text-decoration: none;
}

.footer-link:visited {
  color: #7aacd2;
}

.register-heading-container {
  margin: 20px 0 20px 0;
}

.register-heading {
  font-family: 'Copperplate Gothic Light, sans-serif';
  font-size: 2.4em;
}

.register-res-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-family: Century Gothic, sans-serif;
  font-size: 14px;
  color: red;
}

.oauth-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: : center;
  margin: 20px 0 25px 0;
  width: 24vw;
}

.oauth-btn-icon {
  margin-right: 5px;
  color: white;
}

.btn-google {
  width: 40px;
  height: 40px;
  font-size: : 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 20px 0;
  margin-bottom: : 20px;
  background-color: #d14836;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.btn-fb {
  width: 40px;
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #3b5998;
  color: white;
  cursor: pointer;
}

.btn-google:hover {
  background-color: #D17C70;
}

.btn-fb:hover {
  background-color: #5A6E99;
}


/* Subject Page */

.subject-container {
  display: flex;
  flex-direction: column;
  background-color: #F2F4E3;
  padding: 0 30px 0 30px;
}

.subject-header {
  font-size: 24px;
  margin: 10px 0 10px 0;
}

.subject-sort {
  display: flex;
  flex-direction: row;
}

.subject-sort-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  width: 5vw;
  height: 30px;
  font-size: 16px;
  font-family: 'Copperplate Gothic Light, sans-serif';
  background-color: #7aacd2;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.subject-sort-btn:hover {
  background-color: #98C1E0;
}

.subject-search {
  margin-left: 50px;
}

.subject-search-input {
  min-width: 300px;
  width: 20vw;
  height: 24px;
  font-size: 16px;
}

.subject-list-container {
  margin: 20px 0 20px 0;
  text-align: center;
  width: 100%;

}

.subject-card {
  display: inline-block;
  text-align: center;
  min-width: 250px;
  width: 20vw;
  height: 200px;
  margin: 10px 10px 10px 10px;
  box-shadow: 9px 9px 5px #888888;
  background-color: aliceblue;
}

.subject-card:hover {
  opacity: 0.7;
}

.subject-card-text {
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.subject-card-btn-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.subject-card-btn {
  color: #A2D3D2;
  cursor: pointer;
}

.subject-card-btn:hover {
  color: #5EA8A7;
}

/* Footer Page*/

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #A2D3D2;
  padding: 10px 20px 10px 20px;
}

.footer-text {
  padding: 0 5px 0 10px;
  text-decoration: none;
  color: #de7e7e;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Copperplate Gothic Light, sans-serif;
}

.fa-pencil {
  font-size: 14px;
}

.fa-envelope {
  font-size: 12px;
}

/* Question Page */

.material-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

.material-text, .material-question {
  margin: 10px 0 10px 0;
}

.material-answer-choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

.answer-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 10px;
  background-color: aliceblue;
  cursor: pointer;
}

.answer-choice-active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 10px;
  background-color: aliceblue;
  cursor: pointer;
}

.material-picked {
  background-color: red;
}

.material-submit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}

.material-submit-btn, .material-skip-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  width: 15vw;
  height: 30px;
  font-size: 16px;
  font-family: 'Copperplate Gothic Light, sans-serif';
  background-color: #7aacd2;
  border-radius: 5px;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.material-submit-btn:hover, .material-skip-btn:hover {
  background-color: #1B82D1;
}