html, body {
  width: 100%;
  margin: 0;
}



.login-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("http://www.proficientwriters.com/content/images/im/1.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  margin: 0;
  padding: 0;
}

.oauth-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: : center;
  margin: 20px 0 25px 0;
  width: 24vw;
}

.btn-google {
  width: 40px;
  height: 40px;
  font-size: : 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 20px 0;
  margin-bottom: : 20px;
  background-color: #d14836;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.btn-fb {
  width: 40px;
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #3b5998;
  color: white;
  cursor: pointer;
}

.oauth-btn-icon {
  margin-right: 5px;
}

.login-container {
  min-width: 300px;
  max-width: 32vw;
  width: 32vw;
  height: 400px;
  border: 1px solid #C7C9C7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E8EAE8;
  opacity: 0.9;
}

.login-icon-container {
  margin-bottom: 20px;
}
  
.login-icon {
  color: #7aacd2;
  font-size: 7em;
}

.login-form-container {
  min-width: 300px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-input-container {
  min-width: 300px;
  text-align: center;
}

.login-input {
  margin-bottom: 15px;
  padding-left: 15px;
  min-width: 180px;
  max-width: 24vw;
  width: 24vw;
  height: 20px;
  font-size: 14px;
}

.login-input-icon {
  position: relative;
  left: 15px;
  color: #7aacd2;
}
  
.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24vw;
  height: 30px;
  font-size: 16px;
  font-family: 'Copperplate Gothic Light, sans-serif';
  background-color: #7aacd2;
  border-radius: 5px;
  color: white;
  cursor: pointer;

}

.login-btn:hover {
  background-color: #1B82D1;
}

.btn-google:hover {
  background-color: #D17C70;
}

.btn-fb:hover {
  background-color: #5A6E99;
}